<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sports_supply.name %>
</p>

<%= link_to 'Edit', edit_sports_supply_path(@sports_supply) %> |
<%= link_to 'Back', sports_supplies_path %>
