<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @sports_store.address %>
</p>

<%= link_to 'Edit', edit_sports_store_path(@sports_store) %> |
<%= link_to 'Back', sports_stores_path %>
