<h1>Editing Locationsupportssport</h1>

<%= render 'form', locationsupportssport: @locationsupportssport %>

<%= link_to 'Show', @locationsupportssport %> |
<%= link_to 'Back', locationsupportssports_path %>
